/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Header Styles */


/* Container Styles */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

/* Formation Styles */
div[ngIf="formation"] {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div[ngIf="formation"] h1 {
  color: #3498db;
}

div[ngIf="formation"] img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px 0;
}

div[ngIf="formation"] p {
  margin: 10px 0;
  color: #555;
}

/* Session Styles */
div[ngIf="session"] {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div[ngIf="session"] h3 {
  color: #3498db;
}

div[ngIf="session"] p {
  margin: 10px 0;
  color: #555;
}

/* Button Styles */
button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}
