
<body>
    <header>
        <app-header></app-header>
    </header>

    <main>
        <section class="main-content">
            <h2>Bienvenue sur la plateforme de gestion des stagiaires</h2>
            <p>Cette plateforme vous permet de gérer les informations des stagiaires, d'ajouter de nouveaux stagiaires et de consulter les statistiques.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Gestion des Stagiaires</p>
    </footer>

    <button class="app-link"><a routerLink="/formation">Les Applications</a></button>
</body>

