



    <header>
        <nav class="navbar">
            <div class="logo">gestion des stagaires</div>
            <ul class="nav-list">
                <li><a routerLink="/home">Accueil</a></li>
                <li><a  routerLink="/formation">application</a></li>
                <li><a  *ngIf="candidat()"   routerLink="/condidat">mes application</a></li>
                <li><a *ngIf="formateur()"  routerLink="/formateur"> application de formateur </a></li>
                <li><a *ngIf="admin()" routerLink="/admin">admin</a></li>
                <li><a routerLink="/login" *ngIf="!islogin()" >logIn</a></li>
               
                <li  *ngIf="islogin()"><a (click)="logOut()">logOut</a></li>
            </ul>
        </nav>
    </header>







<router-outlet></router-outlet>