<app-header></app-header>
<div class="search-container">
  <input type="text" placeholder="Search for a application" [(ngModel)]="searchQuery" (input)="onSearch()">
</div>
<div class="content-container">
  <div class="card-container">
    <div class="card" *ngFor="let formation of filteredFormations">
      <h3>  {{formation.titre}}</h3>
      <img [src]="formation.image" alt="{{ formation.titre }}" width="200px">
       <h3>sujet : </h3><p>{{  formation.description }}</p>
      <p> charge:   {{formation.charge}}</p>
      <p>horaire : {{formation.horaire}}</p>
      <p>programme : {{formation.programme}}</p>
      <p>niveauDifficulte :{{formation.niveauDifficulte}}</p>
      <p>categorie : {{formation.categorie}}</p>
      
      
      <p class="price">{{ formation.price }}</p>
      <p><button [routerLink]="'/formations/' + formation.id">Details</button></p>
    </div>
  </div>
</div>
